<div class="text-center font-weight-bold">
  <h3 class="font-italic font-weight-bold m-2 p-1">{{ isEdit ? 'Edit form-data' : 'Registration form' }}</h3>
  <form class="p-3 col-6 m-auto" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-around">
      <div class="form-group m-3 col-5">
        <label for="FirstName">First name</label>
        <input type="text" class="form-control bg-info my-hover-white" id="FirstName" formControlName="firstName" placeholder="First name">
        <small
          *ngIf="fieldHasError('firstName', 'required')"
          class="form-text invalid-form-text "
        >
          Enter your first name!
        </small>
      </div>
      <div class="form-group m-3 col-5">
        <label for="LastName">Last name</label>
        <input type="text" class="form-control bg-info my-hover-white" id="LastName" formControlName="lastName" placeholder="Last name">
        <small
          *ngIf="fieldHasError('lastName', 'required')"
          class="form-text invalid-form-text "
        >
          Enter your last name!
        </small>
      </div>
    </div>
    <div class="form-group col-6 m-auto">
      <label for="patronymic">Patronymic</label>
      <input type="text" class="form-control bg-info my-hover-white" id="patronymic" formControlName="patronymic" placeholder="Patronymic">
      <small
        *ngIf="fieldHasError('patronymic', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your patronymic!
      </small>
    </div>
    <div class="form-group mt-3">
      <label for="numberInput">Phone number</label>
      <input type="text" class="form-control bg-info my-hover-white" id="numberInput" formControlName="number" placeholder="+996 555 55 55 55" appPhone>
      <small
        *ngIf="fieldHasError('number', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your phone number!
      </small>
      <small
        *ngIf="fieldHasError('number', 'number')"
        class="form-text invalid-form-text "
      >
        Enter correct your phone number! Example: +996 555 55 55 55
      </small>
    </div>
    <div class="form-group">
      <label for="placeInput">Place of study / work</label>
      <input type="text" class="form-control bg-info my-hover-white" id="placeInput" formControlName="place" placeholder="Attractor">
      <small
        *ngIf="fieldHasError('place', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your place of study / work!
      </small>
    </div>
    <div class="form-group m-2">
      <p class="m-0 p-0">Choose your gender</p>
      <div class="row justify-content-center">
        <div class="form-check m-2">
          <input class="form-check-input my-hover-white" type="radio" formControlName="gender" value="male" id="Male" style="width:20px;height:20px;">
          <label class="form-check-label pl-2 pt-1" for="Male"> Male </label>
        </div>
        <div class="form-check m-2">
          <input class="form-check-input my-hover-white"  type="radio" value="female" formControlName="gender" id="Female" style="width:20px;height:20px;">
          <label class="form-check-label pl-2 pt-1" for="Female"> Female </label>
        </div>
      </div>
      <small
        *ngIf="fieldHasError('gender', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your gender!
      </small>
    </div>
    <div class="form-group">
      <label for="inputState">T-shirt size:</label>
      <select id="inputState" formControlName="size" class="form-control bg-info my-hover-white">
        <option value="">Choose...</option>
        <option value="s">S</option>
        <option value="m">M</option>
        <option value="l">L</option>
        <option value="xl">XL</option>
      </select>
      <small
        *ngIf="fieldHasError('size', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your size!
      </small>
    </div>
    <div class="mb-3" formArrayName="skills">
      <button (click)="addSkill()" type="button" class="btn btn-info m-2 text-dark">Add skill</button>
      <div class="mb-2 w-100" *ngFor="let skill of getSkill(); let i = index">
        <div [formGroupName]="i">
          <div class="d-flex">
            <select
              class="form-control bg-info m-1 my-hover-white"
              formControlName="skill"
              name="skill"
              aria-label="Default select example"
            >
              <option value="">Select skills</option>
              <option value="React">React</option>
              <option value="Angular">Angular</option>
              <option value="Vue">Vue</option>
              <option value="JavaScript">JavaScript</option>
            </select>
            <select
              class="form-control bg-info m-1 my-hover-white"
              formControlName="level"
              name="level"
              aria-label="Default select example"
            >
              <option value="">Level of skill</option>
              <option value="Junior">Junior</option>
              <option value="Middle">Middle</option>
              <option value="Senior">Senior</option>
              <option value="Team lead">Team lead</option>
            </select>
          </div>
        </div>
        <small
          *ngIf="fieldSkillsError('skill', i,'required')"
          class="form-text invalid-form-text d-block">
          Select your skill
        </small>
        <small
          *ngIf="fieldSkillsError('level', i,'required')"
          class="form-text invalid-form-text">
          Select your skill of level
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="textarea">Your comment</label>
      <textarea class="form-control bg-info my-hover-white" id="textarea" formControlName="comment" rows="3" placeholder="Text..." (keyup)="onCountingTheNumberOfCharacters()"></textarea>
      <p class="p-1">Maximum allowed number of characters {{textAreaLength}}</p>
      <small
        *ngIf="fieldHasError('comment', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your comment!
      </small>
    </div>
    <button type="submit" class="btn bg-btn font-weight-bold my-hover-orange" [disabled]="reactiveForm.invalid || isOpen">
      <span *ngIf="!loading">{{ isEdit ? 'Edit' : 'Creat'}}</span>
      <span *ngIf="loading" class="spinner-border spinner-border-sm"><span class="sr-only">Removing...</span></span>
    </button>
  </form>
</div>
