<div class="p-5">
  <div class="text-center h3 p-3 bg-info m-auto rounded my-hover-white" style="width: 65rem;" *ngIf="formData">
    <div class="row justify-content-center">
      <p class="m-1"><b><i>{{ formData.firstName }}</i></b></p>
      <p class="m-1"><b><i>{{ formData.lastName }}</i></b></p>
      <p class="m-1"><b><i>{{ formData.patronymic }}</i></b></p>
    </div>
    <p><b><i>Phone number:</i></b> {{ formData.number }}</p>
    <p><b><i>Place:</i></b> {{ formData.place }}</p>
    <p><b><i>Size:</i></b> {{ formData.size }}</p>
    <div *ngFor="let skill of skills">
      <p><b><i>Skill:</i></b> {{ skill.skill }} <b><i>Level:</i></b> {{ skill.level }}</p>
    </div>
    <p><b><i>Comment:</i></b> {{ formData.comment }}</p>
    <div>
      <button class="btn bg-btn font-weight-bold m-2 pl-4 pr-4 text-dark my-hover-orange" [routerLink]="['/',formData.id, 'edit']"
              [disabled]="loading">Edit
      </button>
      <button class="btn btn-danger m-2 font-weight-bold text-dark my-hover-red" (click)="onRemove(formData.id)"
              [disabled]="loading">
        <span *ngIf="!loading">Delete</span>
        <span *ngIf="loading" class="spinner-border spinner-border-sm"><span class="sr-only">Removing...</span></span>
      </button>
    </div>
  </div>
</div>
