body,html {
  height: 100%;
  color: white;
  box-sizing: border-box;
  background: black;
  background: url("https://kartinkin.net/uploads/posts/2021-07/thumbs/1626160627_2-kartinkin-com-p-fon-dlya-chata-telegramm-krasivo-2.jpg");
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  margin: 0;
}

.bg-btn{
  background: orange;
}

.my-hover-white:hover{
  box-shadow: 0 0 15px 5px white;
}

.my-hover-orange:hover{
  box-shadow: 0 0 10px 5px orange;
}

.my-hover-black:hover{
  box-shadow: 0 0 7px 5px black;
}

.my-hover-red:hover{
  box-shadow: 0 0 7px 5px red;
}
