<h2 class="pl-5 pr-3 pt-3 text-center font-weight-bold font-italic">All completed forms:</h2>
<ng-container *ngIf="!loading, else preloader">
  <div *ngFor="let formData of arrayFormData">
    <div class="d-flex justify-content-center">
      <div class="card m-3 text-white bg-info p-2 my-hover-white" style="width: 45rem;" >
        <h5 class="card-header text-center font-weight-bold pt-0">Completed-form</h5>
        <div class="d-flex justify-content-around text-white m-2">
          <p class="h5 m-1"><b><i>First name:</i></b> {{formData.firstName}},</p>
          <p class="h5 m-1"><b><i>Last name:</i></b> {{formData.lastName}},</p>
          <p class="h5 m-1 pb-3"><b><i>Patronymic:</i></b> {{formData.patronymic}}</p>
        </div>
        <button [routerLink]="[formData.id, 'information']" class="btn btn-outline-dark font-weight-bold text-white m-auto my-hover-black" (click)="onClickReadMore(formData.id)">
          <span *ngIf="id !== formData.id">Read more >></span>
          <span *ngIf="id === formData.id" class="spinner-border spinner-border-sm"><span class="sr-only">Removing...</span></span></button>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #preloader>
  <div class="preloader">
    <div></div>
    <div></div>
  </div>
</ng-template>
